.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal_content {
  background: var(--color-white);
  padding: 1.5rem;
  border-radius: 12px;
  width: 580px;
  max-width: 580px;
  height: 430px;
  max-height: 430px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  animation: slideDown 0.3s ease;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.new_card_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.new_card_header h1 {
  font-size: 1.5rem;
  color: #333;
}

.new_card_header button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #666;
  transition: color 0.2s;
}

.new_card_header button:hover {
  color: #000;
}

.new_card_details form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.new_card_details input,
.new_card_details textarea,
.new_card_details select {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
}

.new_card_details input {
  font-size: 1.1rem;
}

.new_card_details textarea {
  min-height: 100px;
  resize: vertical;
  margin: 5px 0;
}

.new_card_details select {
  width: 30%;
  background-color: var(--color-gray);
}

.new_card_details button {
  margin-top: 1rem;
  background: var(--color-black);
  color: var(--color-white);
  padding: 0.8rem;
  border: 1px solid var(--color-black);
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
}

.new_card_details button:hover {
  background: var(--color-white);
  color: var(--color-black);
}
