.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px 0;
  width: 100%;
  max-width: 1200px;
}

.form_search {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 40px;
  width: 400px;
  padding: 0 10px;
  color: gray;
  border-radius: 8px;
  border: none;
  background-color: #f2f3f7;
  margin: 5px 0;
}

.input_search {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  color: var(--color-black);
  font-style: bold;
  width: 100%;
}

.icon_search {
  cursor: pointer;
}

.main_container {
  width: 100%;
  margin: 10px 0;
}

.header_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.title_main {
  padding: 15px 0;
  font-size: 2rem;
}

.btn_create_task {
  width: 150px;
  padding: 10px 5px;
  font-size: 1rem;
  background-color: var(--color-black);
  border-radius: 5px;
  border: none;
  color: var(--color-white);
  cursor: pointer;
}

.btn_create_task:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

.tasks_columns {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 80px;
}

.type_column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 10px;
  color: var(--color-black);
  border-radius: 5px;
  text-transform: uppercase;
}

.create_card_column {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--color-black);
  cursor: pointer;
}

.create_card_column:hover {
  border: 1px solid var(--color-black);
  border-radius: 5px;
}

.todo_column,
.progress_column,
.done_column {
  color: var(--color-black);
  border-radius: 12px;
  text-align: center;
  width: 320px;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.todo_cards,
.progress_cards,
.done_cards {
  padding: 8px 5px;
}
